<% provide(:title, "Edit User") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render partial: 'form', locals: {button: "Save changes", text: "Confirm Password"} %>
    <h1>&nbsp;</h1>
    <%= gravatar_for @user %>
    <%= link_to "change pic", "http://gravatar.com/emails", :target => "_blank" %>
  </div>
</div>