<% provide(:title, 'Sign Up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render partial: 'form', locals: {button: "Create my account", text: "Confirmation"} %>
  </div>
</div>